# 项目文件夹
Temp/
Logs/
Library/
Build/
.idea/
obj/
.vs/
ProjectSettings/
UserSettings/
Assembly-CSharp.csproj
slots-tool.sln


/ProjectSettings/
log/
Assets/StreamingAssets/
Assets/Samples/
Assets/Samples.meta